[Unit]
Description=Slackbot daemon
After=network.target network-online.target

[Service]
Type=simple
Environment="SLACK_BOT_TOKEN=your-slack-token"
Environment="BOT_ID=your-bot-id"
WorkingDirectory=/home/pi/antibot/
ExecStart=/usr/bin/python3 bot.py
Restart=on-failure
RestartSec=600
# RestartPreventExitStatus=23 
StandardOutput=syslog+console

[Install]
WantedBy=default.target
